/*
 * Custom project SASS goes here.
 *
 * i.e.
 * @include u-padding-right('05');
*/

// overide some custom styles included in theme plugin that probably shouldn't
// be there
// https://github.com/18F/uswds-jekyll/blob/master/_sass/uswds/custom/_uswds-theme-custom-styles.scss
.usa-layout-docs__sidenav, .usa-layout-docs__main {
  overflow: inherit;
}

.usa-layout-docs__sidenav {
  width: 25%;
}

.usa-layout-docs__main {
  width: 75%;
}

@import 'uswds-pagination';

.usa-pagination {
  justify-content: flex-end;
  clear: both;
}

.footnotes {
  @include u-font('serif', '3xs');
  @include u-border-top(1px);
  @include u-text('base-darker');
  max-width: 78ex;
}

aside.callout {
  @include u-border-left(1);
  @include u-border-left('primary-dark');
  @include u-margin-y(2);
  @include u-margin-x(0);
  @include u-padding(3);
  @include u-bg('base-lightest');
  @include u-float('right');
  max-width: 34ex;

  h1, h2, h3, h4 {
    @include u-margin(0);
  }
}
