---
layout: page
---

{{ content }}

{% assign articles = site.data.navigation[page.sidenav] %}
{% for article in articles -%}

  {% if article.href == page.url -%}
    <nav aria-label="pagination" class="usa-pagination">
      {% assign previous = forloop.index0 | minus: 1 -%}
      {% assign previous_article = articles[previous] %}
      <a href="{{ previous_article.href }}" class="usa-pagination__link usa-pagination__previous-page" aria-label="Previous page"{% if forloop.first %} disabled{% endif %}>
            &lt;
            <span class="usa-pagination__button-text">{{ previous_article.text }}</span>
        </a>

      {% assign next = forloop.index0 | plus: 1 -%}
      {% assign next_article = articles[next] %}
      <a href="{{ next_article.href }}" class="usa-pagination__link usa-pagination__next-page" aria-label="Next page"{% if forloop.last %} disabled{% endif %}>
          <span class="usa-pagination__button-text">{{ next_article.text }}</span>
          &gt;
      </a>
    </nav>
  {% endif -%}
{% endfor -%}

